<!DOCTYPE html>
<head>
    <title>Astas</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      
</head>
<body>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Astas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/moderator">Add Faculty <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/list-of-faculties">Faculties</a>
                    <a class="nav-item nav-link" href="/upload-list" >Upload</a>
                    <!-- <a class="nav-item nav-link" href="#">Pricing</a> -->

                  </div>
                </div>
                <form class="form-inline md-form form-sm active-cyan-2 mt-2" method="POST" action="/list-of-faculties/search">
                  <input class="form-control form-control-sm mr-3 w-75" type="text" name="search" placeholder="Search" aria-label="Search">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </form>
              </nav>
<br><br>

<%  staff.forEach((members)=>{      %>
  <div class="card w-75 ml-lg-5">
      <div class="card-header">
          <b>Id: <%=  members.Fid %></b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col md-6">
          <h5 class="card-title"><b>Name:</b><%= members.Fname  %></h5>
         </div>
         <div class="col md-6">
          <p class="card-text"><b>Subject:</b><%= members.Fsubject   %></p>
        </div>
      </div>
        <div class="row">
         <div class="col md-3"> 
          <p class="card-text"><b>Contact:</b><%= members.Fcontact   %></p>
         </div>
         <div class="col md-3"> 
          <p class="card-text"><b>Email:</b><%= members.Femail   %></p>
         </div>
         <div class="col md-3"> 
          <p class="card-text"><b>Class:</b><%= members.Fclass   %></p>
         </div>
         <div class="col md-3"> 
          <p class="card-text"><b>Year:</b><%= members.Fyear   %></p>
         </div>
        </div><br>
        <div class="row" style="float:right;">
         <div class="col md-3"> 
          <p class="card-text"><b>Previous Subjects:</b><%= members.Fpsubject   %></p>
         </div>
         <div class="col md-3"> 
          <p class="card-text"><b>Calender Year:</b><%= members.Fpyear   %></p>
         </div>
         <div class="col md-3">
          <p class="card-text"><b>Previous Section:</b><%= members.Fpclass   %></p>
         </div>  
        </div><br>
        <div class="row mt-5 ml-5" style="float:right;">
          <div class="col md-6">
            <p class="card-text"><b>Weekly Lectures:</b><%= members.Flectures    %></p>
           </div>
           <div class="col md-6">
            <p class="card-text"><b>Position:</b><%= members.Fposition   %></p>
           </div>
        </div>
        <br>
        <a href="/list-of-faculties/edit/<%= members._id %>" class="btn btn-info w-25">Edit</a>   
        <form action="/list-of-faculties/<%= members.id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE"><br>
          <input type="submit" class="btn btn-danger w-25" value="Delete">
         </div> 
        </form>
      </div>
    </div>
    <br>
<%  })  %>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>


